main {
  flex: 1 1 auto;
  padding-top: 92px;
}

.board {
  width: 100%;
  min-height: 440px;
  background-repeat: no-repeat;
  background-size: auto 440px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 1120px;
}

.search-form {
  width: 730px;
}
