.filter {
  min-height: 140px;

  &__buttons-wrapper {
    display: flex;
    position: relative;
  }

  &__button {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #73d2f0;
    border: none;
    border-radius: 0 60px 0 0;
    color: #fff;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    padding: 0 135px 0 0;
    position: absolute;
    text-align: end;
    text-decoration: none;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 55%;
    z-index: 5;

    &:not(.filter__button_current):hover {
      background-color: #00c3ff;
    }

    &:last-child {
      justify-content: start;
      border-radius: 60px 0 0 0;
      padding: 0 0 0 180px;
      right: 0;
      text-align: start;
    }

    &:last-child::before {
      left: 130px;
      transform: rotate(90deg);
    }

    &::before {
      background: url(https://www.pngkey.com/png/full/138-1382606_icon-airplane-icon-blue-png.png)
        no-repeat 50%;
      background-size: contain;
      content: '';
      display: block;
      filter: brightness(500%);
      height: 30px;
      left: 285px;
      position: absolute;
      top: 16px;
      width: 30px;
    }
  }

  &__button_current {
    background-color: #fff;
    color: #1eb7ee;
    z-index: 6;

    &::before {
      filter: brightness(110%);
    }
  }
}
