@import '../../common/scss/variables.scss';

.filter {
  min-height: 140px;

  &__buttons-wrapper {
    position: relative;
    display: flex;
  }

  &__button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 55%;
    height: 60px;
    padding: 0 135px 0 0;
    background-color: $colorTransparentBlue;
    color: $colorWhite;
    border: none;
    border-radius: 0 60px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: end;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    z-index: 5;
    cursor: pointer;

    &:not(.filter__button_current):hover {
      background-color: $colorLightBlue;
    }

    &:last-child {
      right: 0;
      justify-content: start;
      padding: 0 0 0 180px;
      text-align: start;
      border-radius: 60px 0 0 0;
    }

    &:last-child::before {
      left: 130px;
      transform: rotate(90deg);
    }

    &::before {
      position: absolute;
      top: 16px;
      left: 285px;
      display: block;
      height: 30px;
      width: 30px;
      background: url(https://www.pngkey.com/png/full/138-1382606_icon-airplane-icon-blue-png.png)
        no-repeat 50%;
      background-size: contain;
      content: '';
      filter: brightness(500%);
    }
  }

  &__button_current {
    background-color: $colorWhite;
    color: $colorSkyBlue;
    z-index: 6;

    &::before {
      filter: brightness(110%);
    }
  }
}
