@import '../../common/scss/variables.scss';

.filter {
  &__date-wrapper {
    display: flex;
    height: 140px;
    width: 1200px;
    padding: 85px 20px 0;
  }

  &__date-input-label {
    position: relative;
    margin-right: 30px;
  }

  &__date-input-label p {
    margin: 0;
    color: $colorSkyBlue;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }

  input::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }

  &__date-input {
    height: 40px;
    width: 40px;
    font-size: 40px;
    background-color: $colorSkyBlue;
    background-position: 44% 47%;
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border: none;
    color: transparent;
    border-radius: 5px;
    outline: none;
  }

  &__date-buttons {
    display: flex;
    height: 100%;
    width: 300px;
  }

  &__date-button {
    width: 100px;
    border-bottom: 3px solid $colorLightGreyForBorder;
    color: $colorGrey;
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  &__date-button p:first-child {
    margin: 0 0 12px 0;
    font-size: 12px;
  }

  &__date-button p:last-child {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  &__date-button_current {
    border-bottom: 3px solid $colorSkyBlue;
    color: $colorSkyBlue;
  }
}
