@import '../../common/scss/variables.scss';

.header {
  &__list {
    display: flex;
    margin: 0;
    font-size: 20px;
    list-style: none;
  }

  &__link {
    padding: 0 35px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

    &:last-child {
      color: $colorWhite;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    height: 92px;
    padding: 0;
    color: $colorWhite;

    &_active {
      border-radius: 0 30px 0 0;
      color: $colorBlue;
      background: linear-gradient(90deg, $colorSkyBlue 25%, $colorWhite 100%);
    }
  }

  &__list-item:last-child .header__link {
    font-size: 22px;
    font-weight: 700;
  }
}
