$colorWhite: #fff;
$colorDirtyWhite: #fff9;
$colorLightGrey: #e6e6e6;
$colorSkyBlue: #1eb7ee;
$colorGrey: #b8b9b9;
$colorDarkGrey: #595959;
$colorTransparentBlue: #73d2f0;
$colorLightBlue: #00c3ff;
$colorBlue: #008ab7;

$colorLightGreyForBorder: #d0d0d0;

$colorBlackForShadow: #0000004d;
