.table {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin: 40px 0 0;
  list-style: none;

  &__header,
  .table__row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  &__header {
    font-weight: bold;
    background-color: #e6e6e6;
  }

  &__header p {
    margin: 0;
  }

  &__row {
    align-items: center;
  }

  &__null {
    margin: auto;
    font-size: 30px;
  }
}
